[MASTER]
ignore=venv

[MESSAGES CONTROL]
# desligar verificações ruidosas para este projeto
disable=
    E1101,  # no-member (membros do pygame não conhecidos pelo analisador)
    W0703,  # broad-except (except Exception)
    W0613,  # unused-argument
    C0114   # missing-module-docstring

[FORMAT]
max-line-length=120
